<div id="comment-<%= comment.id %>" class="card mb-3">
  <div class="card-header d-flex justify-content-between align-items-center bg-light">
    <div>
      <strong><%= comment.user.email %></strong>
      <% if (comment.updated_at - comment.created_at) > 1 %>
        <span class="text-muted ms-2">• Editado <%= time_ago_in_words(comment.updated_at) %> atrás</span>
      <% else %>
        <span class="text-muted ms-2">• Postado <%= time_ago_in_words(comment.created_at) %> atrás</span>
      <% end %>
    </div>
    <% if current_user == comment.user %>
      <div class="btn-group gap-2">
        <%= link_to "Edit", "#", remote: true, data: {
          controller: "comments",
          action: 'comments#toggleForm',
          comments_form_param: "edit-form-#{comment.id}",
          comments_body_param: "comment-body-#{comment.id}"

        }, class: "btn btn-warning btn-sm", id: "edit-button-#{comment.id}" %>
        <%= button_to "Delete", [post, comment], method: :delete, class: "btn btn-danger btn-sm", data: { confirm: "Tem certeza que deseja excluir este comentário?" } %>
      </div>
    <% end %>
  </div>
  <div id="edit-form-<%= comment.id %>" class="d-none p-3 bg-light">
    <%= render "comments/form", post: post, comment: comment %>
  </div>
  <div id="comment-body-<%= comment.id %>" class="">
    <p class="card-text"><%= comment.body %></p>
  </div>
</div>
