<div class="container mt-5">
  <h1 class="text-center mb-4">Lista de Estudantes</h1>
  <hr class="mb-4">

  <div class="accordion" id="accordionEstudantes">
    <% @students.each_with_index do |item, index| %>
      <div class="accordion-item mb-2">
        <h2 class="accordion-header" id="heading<%= index %>">
          <button 
            class="accordion-button collapsed" 
            type="button" 
            data-bs-toggle="collapse" 
            data-bs-target="#collapse<%= index %>" 
            aria-expanded="false" 
            aria-controls="collapse<%= index %>">
            <i class="bi bi-person-circle me-2"></i> <%= item[:nome] %>
          </button>
        </h2>
        <div 
          id="collapse<%= index %>" 
          class="accordion-collapse collapse" 
          aria-labelledby="heading<%= index %>" 
          data-bs-parent="#accordionEstudantes">
          <div class="accordion-body">
            <p><strong>Telefone:</strong> <%= item[:telefone] %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <div class="mt-4 text-center">
    <%= link_to "Voltar para Home", home_path, class: "btn btn-primary" %>
  </div>
</div>